.store-product-item {
    border: 1px solid rgb(190, 22, 187);
    padding: 20px;
    width: 400px;
    margin: 5px;
    
}

.product-title {
text-align: center;
border-bottom: 5px solid red;
}


.product-description {
text-align: right;
}


.product-thumbnail {
    width: 100px;
}

.added-to-cart  {
    background-color: aquamarine;

}
