.store-product-item {
    border: 1px solid rgb(190, 22, 187);
    padding: 20px;
    width: 400px;
    margin: 5px;
    
}

.product-title {
text-align: center;
border-bottom: 5px solid red;
}


.product-description {
text-align: right;
}



.added-to-cart  {
    background-color: aquamarine;
}


.size-s{
    width: 50px;
}

.size-m{
    width: 75px;
} 
.size-l{
    width: 115px;
} 
