.header{
    background-color: rgb(4, 13, 86);
    color: white;
    display: flex;
    position: fixed;
    width: 100%;

    span {
        padding: 0 10px;
        line-height: 60px;
    }

    ul {
        list-style: none;
        display: flex;

        a {
            color: white;
            display: inline-block;
            padding: 5px 10px;
        }
        
    }
}
